@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/* --background: #ffffff;
  --foreground: #171717; */
/* } */

/* @media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed; */
/* } */
/* } */

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  /* cursor: none !important; */
  /* Initialize CSS variables for cursor position */
  /* --cursor-x: 0;
  --cursor-y: 0; */
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: black; */
}

.custom-cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transform: translate(calc(var(--cursor-x) - 50%), calc(var(--cursor-y) - 50%));
  will-change: transform;
  transition: transform 0.05s ease-out;
}

/* This is the layer that is normally masked but upon cursor hover is unmasked */
.custom-cursor-reveal-layer {
  pointer-events: none;
  position: absolute;
  inset: 0;

  z-index: 50;

  mask: url(#cursorMask);

  pointer-events: none;

  /* clip-path: circle(28px at var(--cursor-x) var(--cursor-y));
  will-change: clip-path;
  transition: clip-path 0.05s ease-out; */
}

.grid-overlap-container {
  display: grid;
  grid-template: "content-area";
}

.grid-overlap-element {
  /* display: grid; */
  grid-area: content-area;
}

.blurry-blobs-container {
  pointer-events: none; /* Make sure it doesn't interfere with interactions */
}
